<h1>Listing tennis</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Published</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tennis.each do |tenni| %>
  <tr>
    <td><%= tenni.name %></td>
    <td><%= tenni.published %></td>
    <td><%= link_to 'Show', tenni %></td>
    <td><%= link_to 'Edit', edit_tenni_path(tenni) %></td>
    <td><%= link_to 'Destroy', tenni, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tenni', new_tenni_path %>
