<table border="1">
	<tr>
		<th>ISBN コード</th><th>書名</th><th>価格</th>
		<th>出版社</th><th>刊行日</th><th>CD</th>
	</tr>
	<% @books.each do |book| %>
	<tr>
		<td><%=(book.isbn) %></td>
		<td><%=(book.title) %></td>
		<td><%=(book.price) %></td>
		<td><%=(book.publish) %></td>
		<td><%=(book.published) %></td>
		<td><%=(book.cd) %></td>		
	</tr>
	<% end %>
</table>

<%= will_paginate @books,:previous_label => '<前ページ',:next_label=>'次ページ>'%>
<br/>

	Current page is:	<%= @books.current_page %><br/>
	Per page record number is: <%= @books.per_page %><br />
	total_entries is: <%= @books.total_entries %><br/>
	next page is : <%= @books.next_page %><br/>
	out of bound? : <%= @books.out_of_bounds?%>